:root{
    --pri:#1A1E26;
    --sec:#323640;
    --ter:#656A73;
    --cuar:#979DA6;
    --quint:#B0B7BF;
    --sext:#fff;
    --colorRosa: #e31b6d;
    --fuenteP: 'Nunito', sans-serif;
}
*{
    text-decoration: none;
    margin: 0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
}

/*Nav*/
.navop{
    background-color: var(--pri);
    position: fixed;
    z-index: 1;
}

.navop>p{
    color: lightskyblue;
    left: 15rem;
    font-family: var(--fuenteP);
    font-size: 2rem;
}
@media (max-width:760px) {
    .navop>p{
        left: 7rem;
        font-size: 1.5rem;
    }
}

.op>a{
    margin: 0.2rem;
    font-size: 1.3rem;
}
.op>a>img{
    padding-top: 2px;
    margin-right: 0.5rem;
    width: 2.7rem;
    height: 2.9rem;
}
/*Imagen banner y foto perfil*/

.imgb{
    background-image: url(../img/bannerimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    
}

.perfil{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.103);
    height: 100vh;
    width: 35%;
    left: 10rem;
    transition: .3s;
}

@media (max-width:760px) {
    .perfil{
        left: 0;
        width: 100%;
    }
}

.info>img{
    height: 15rem;
    width: 15rem;
    margin-bottom: 2.5rem;

}
.info{
    font-family: var(--fuenteP);
    color: var(--quint);
    font-size: 2rem;
}

/*Educaccion*/

.education{
    background-color: var(--sec);
}


.education>h3{
    color: white;
    font-size: 3.5rem;
    font-family: var(--fuenteP);
}

.logo{
    height: 10rem;
    width: 10rem;
    margin-bottom: 2.5rem;
}

.estudio{
    display: flex;
    background-color: var(--sext);
    color: var(--pri);
    border: 1px solid var(--sext);
    border-radius: 2rem;
    padding: 2rem;
    font-family: var(--fuenteP);
    transition: .6s;
    margin: .5rem;
}

.estudio>p{
    position: relative;
    top: 1rem;
    left: .8rem;
    margin: 0;
    font-size: 2rem;
}
.estudio>p>a{
    margin: auto;
}
.estudio>img{
    max-width: 10rem;
    margin: 0;
}



